@let jokeType = jokeForm.get('type')?.value?.[0] ?? JokeType.SINGLE;
@let submitJokeError = store.submitJokeError();
@let submitJokeSuccess = store.submitJokeSuccess();

<form class="joke-submit-container" [formGroup]="jokeForm" (ngSubmit)="onSubmit()">
  <header class="title">
    <nav class="title__nav">
      <button sekButton routerLink="/jokes/list">
        <ng-icon [name]="'hero-arrow-uturn-left'" aria-hidden="true"></ng-icon>
        Browse Jokes
      </button>
    </nav>
    <h2 class="title__heading">Submit a Joke!</h2>
  </header>

  @if (store.isJokeSubmitLoading()) {
    <sek-spinner class="loader"></sek-spinner>
  } @else {
    <sek-buttons-option-list
      class="button-options"
      formControlName="type"
      [allowVoidSelection]="false"
      [label]="'Joke type'"
      [options]="jokeTypeOptions"
    ></sek-buttons-option-list>

    @if (jokeType === JokeType.SINGLE) {
      <div class="labeled-input">
        <label for="jokeInput">Joke *</label>
        <input id="jokeInput" type="text" sekInput formControlName="joke" />
      </div>
    } @else {
      <div class="labeled-input">
        <label for="setupInput">Setup *</label>
        <input id="setupInput" type="text" sekInput formControlName="setup" />
      </div>
      <div class="labeled-input">
        <label for="deliveryInput">Delivery *</label>
        <input id="deliveryInput" type="text" sekInput formControlName="delivery" />
      </div>
    }

    <sek-buttons-option-list
      class="button-options"
      formControlName="flags"
      [label]="'Flags'"
      [multiSelectable]="true"
      [options]="flagOptions"
    ></sek-buttons-option-list>

    <sek-buttons-option-list
      class="button-options"
      formControlName="lang"
      [allowVoidSelection]="false"
      [label]="'Language'"
      [options]="langOptions"
    ></sek-buttons-option-list>
  }

  @if (submitJokeError) {
    <div class="error" aria-live="polite">
      <p>{{ submitJokeError.message }}</p>
      <p>{{ submitJokeError.additionalInfo }}</p>
    </div>
  }

  @if (submitJokeSuccess) {
    <p aria-live="polite">Joke submitted!</p>
  }

  <button
    type="submit"
    sekButton
    class="submit-button"
    [active]="true"
    [disabled]="jokeForm.invalid"
  >
    Submit
  </button>
</form>
