@use 'tokens' as *;
@use 'mixins' as *;

.error {
  color: $color-text-error;
}

.joke-submit-container {
  margin-top: $spacing-16-px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: $spacing-16-px;
}

.button-options {
  align-self: center;
}

.labeled-input {
  align-self: stretch;

  label {
    @include sek-text-caption-m;
  }

  input {
    margin-top: $spacing-4-px;
    width: 100%;
  }
}

.loader {
  display: block;
  width: fit-content;
  margin-inline: auto;
}

.submit-button {
  align-self: flex-end;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;

  &__nav {
    position: absolute;

    ng-icon {
      margin-right: $spacing-8-px;
    }
  }

  &__heading {
    margin-block: 0;
    margin-inline: auto;
  }
}
