@use 'tokens' as *;
@use 'mixins' as *;

.card {
  @include sek-text-s;

  color: $color-text;
  background-color: $color-elevation-surface;
  border-radius: $border-radius-m;
  border: $size-1-px solid $color-border-secondary;
  padding: $spacing-8-px;
}
