@use 'tokens' as *;
@use 'mixins' as *;

// ============================================
// Base Styles
// ============================================

body {
  @include sek-text-s;

  margin: 0;
  color: $color-text;
  background: $color-background-secondary;
  padding: $spacing-8-px;
}

:where(h1, h2, h3, h4, h5, h6) {
  width: fit-content;
}

:where(h1) {
  @include sek-title-m;
}

:where(h2) {
  @include sek-title-s;
}

:where(h3) {
  @include sek-title-xs;
}

:where(input[type='search'])::-webkit-search-decoration:hover,
:where(input[type='search'])::-webkit-search-cancel-button:hover {
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
