<div
  role="listbox"
  aria-orientation="horizontal"
  [attr.aria-label]="label()"
  [attr.aria-activedescendant]="selectedOption"
  class="buttons-option-list"
>
  @for (option of options(); track option.value) {
    <button
      [attr.id]="option.value"
      role="option"
      [attr.aria-selected]="selectedOption === option.value"
      sekButton
      [active]="selectedOption === option.value"
      (click)="selectOption(option.value)"
    >
      {{ option.label }}
    </button>
  }
</div>
