@use 'tokens' as *;

.joke-list {
  display: flex;
  flex-direction: column;
  gap: $spacing-32-px;
}

.jokes {
  display: flex;
  flex-direction: column;
  gap: $spacing-8-px;
}

.loader {
  display: block;
  width: fit-content;
  margin-inline: auto;
}

.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: $spacing-16-px;
}

.search-form {
  display: inline-block;
  flex: 1;

  &__bar {
    width: 100%;
  }
}
