@use 'tokens' as *;

.joke-list {
  background-color: $color-background;
  max-width: $container-max-width;
  padding: $spacing-24-px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: $spacing-32-px;
}

.jokes {
  display: flex;
  flex-direction: column;
  gap: $spacing-8-px;
}

.search {
  width: 100%;
}

.title {
  margin-block: 0;
  margin-inline: auto;
}
