@let getJokesError = store.getJokesError();

<article class="joke-list">
  <div class="search-container">
    <form class="search-form" [formGroup]="searchJokesForm">
      <input
        sekInput
        class="search-form__bar"
        type="search"
        placeholder="find a joke"
        formControlName="search"
      />
    </form>
    <nav>
      <button
        sekButton
        class="go-to-joke-submit"
        aria-label="Go to Submit Joke page"
        routerLink="/jokes/submit"
      >
        <ng-icon [name]="'hero-plus'" [size]="'18'" [color]="'black'" aria-hidden="true"></ng-icon>
      </button>
    </nav>
  </div>

  <section>
    @if (store.isJokeListLoading()) {
      <sek-spinner class="loader"></sek-spinner>
    } @else if (getJokesError) {
      <div class="error" aria-live="polite">
        <p>{{ getJokesError.message }}</p>
        <p>{{ getJokesError.additionalInfo }}</p>
      </div>
    } @else {
      <div class="jokes" aria-live="polite">
        @for (joke of store.jokes(); track joke.id; let first = $first) {
          <sek-joke [joke]="joke"></sek-joke>
        }
      </div>
    }
  </section>
</article>
