<article class="joke-list">
  <div class="search-container">
    <form class="search-form" [formGroup]="searchJokesForm">
      <input
        sekSearchInput
        class="search-form__bar"
        type="search"
        placeholder="find a joke"
        formControlName="search"
      />
    </form>
    <nav>
      <button
        sekButton
        class="go-to-joke-submit"
        aria-label="Go to Submit Joke page"
        routerLink="/jokes/submit"
      >
        <ng-icon [name]="'hero-plus'" [size]="'18'" [color]="'black'"></ng-icon>
      </button>
    </nav>
  </div>

  <section>
    @if (store.isLoading()) {
      <sek-spinner class="loader"></sek-spinner>
    } @else if (store.error() !== null) {
      <div>
        <p>{{ store.error()?.message }}</p>
        <p>{{ store.error()?.additionalInfo }}</p>
      </div>
    } @else {
      <div class="jokes">
        @for (joke of store.jokes(); track joke.id; let first = $first) {
          <sek-joke [joke]="joke"></sek-joke>
        }
      </div>
    }
  </section>
</article>
